      table { border-collapse: collapse; width: 100%; margin-top: 16px; }
      th, td { border-bottom: 1px solid #ddd; padding: 10px; text-align: left; }
      th { background: #C7B67E; }
      form { display: flex; gap: 12px; flex-wrap: wrap; align-items: end; }
      label { display: block; font-size: 0.9rem; }
      input { padding: 6px; }
      button { padding: 6px 14px; cursor: pointer; background: #000; color: #C7B67E; font-weight: bold; }
      .main {width: 90%; margin: 10px auto;}
      a {color: #333;}
      .footer-img {width: 100% !important; margin: 0 auto 0;}